{% extends 'base.html.twig' %}

{% block title %}👋AccountController!{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
    <h2>Particulier</h2>
    {# Particulier
        Mes informations
            Modifier mon {{app.particulier.id}}
            Modifier mon {{app.particulier.Nom}}
            Modifier mon {{app.particulier.Prenom}}
            Modifier mon {{app.particulier.Adresse}}
            Modifier mon {{app.particulier.CP}}
            Modifier mon {{app.particulier.Email}}
            Modifier mon {{app.particulier.MotDePasse}} #}

    <h2>Pro</h2>
    {# Pro
        Mes informations
            Modifier mon {{app.Pro.Entreprise}}
            Modifier mon {{app.Pro.Nom}}
            Modifier mon {{app.Pro.Prenom}}
            Modifier mon {{app.Pro.NumeroSiret}}
            Modifier mon {{app.Pro.Adresse}}
            Modifier mon {{app.Pro.CP}}
            Modifier mon {{app.Pro.Telephone}}
            Modifier mon {{app.Pro.Email}}
            Modifier mon {{app.Pro.SiteWeb}}
            Modifier mon {{app.Pro.SecteurActivite}}
            Modifier mon {{app.Pro.MotDePasse}}
            Modifier mon {{app.Pro.Logo}} #}


    </div>
</div>



{% endblock %}
