{% extends 'base.html.twig' %}

{% block title %}👋AccountController!{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
    <h2>Mes infos</h2>
   <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-dark" id="form">
                <div class="container my-5" id="form1">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}

                    <button class="btn btn-success">Modifier</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="col-12">
                <h2>Derniers avis</h2>
                {% for avis in app.user.AvisObtenu %}
                    <div class="avis">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <meta itemprop="datePublished" content="{{ avis.Date|date('Y-m-d') }}">{{ avis.Date|date('d F Y') }}
                        <span>
                            {% for i in 1..avis.note %}
                                &#x2B50;
                            {% endfor %}
                            {% for i in (avis.note+1)..5 %}
                                &#x2606;
                            {% endfor %}
                            par <a href="mailto:{{ avis.IdParticulier.Email }}">{{ avis.IdParticulier.prenom }} {{ avis.IdParticulier.nom }}</a>
                        </span>
                        <p class="blockquote">
                        <p class="mb-0">{{ avis.Commentaire }}</p>
                        </p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}
